.jumbotron{
background-color: #161e45;
color: #fff;
/*max-height:200px;*/
padding-top: 30px;
padding-bottom: 30px;
}
body{
background-color: #f5f5f5;
}
#cab1,#cab2{
display: inline-block;
}
#navSup{
background-color: #fff;
border-color: #fff;
}
#nameU{
width: 40%;
}
#tipoU{
width: 30%;
}
#tipoU3{
width: 35%;
background-color: #161e45;
color: #fff;
}
#tipoU2{
width: 35%;
background-color: #475dc4;
color: #fff;
}
#tipoU1{
width: 35%;
background-color: #8190d7;
color: #fff;
}
#accionesU{
width: 15%;
background-color: #d9d9d9;
}
.list-group > li{
display: inline-block;
}
#deleteUser{
float: right;
border-color: #d9d9d9;
background-color: #d9d9d9;
padding: 0px 0px;
border-width: 0px;
}
#editUser{
border-color: #d9d9d9;
background-color: #d9d9d9;
padding: 0px 0px;
border-width: 0px;
}

#deleteC{
float: right;
border-color: #337ab7;
background-color: #337ab7;
color: #fff;
padding: 0px 0px;
border-width: 0px;
}
#editC{
border-color: #337ab7;
background-color: #337ab7;
color: #fff;
padding: 0px 0px;
border-width: 0px;
}
#botonCentrado{
	margin-left: 145px !important;
}
#accionesC{
width: 25%;
background-color: #337ab7;
}
#nameC{
width: 55%;
}

.tamPanel{
	width: 630px !important;
	margin-bottom: 10px;
}

#lineas{
	margin-top: -10px !important;
    margin-bottom: 10px !important; 
	background-color: #337ab7;
	height: 2px;
}

#margenIm{
	margin-right: 5px;
	margin-left: -5px !important;
}

#derecha{
	text-align:right;
}

#negrita{
	font-weight: bold;
}

.oculto{
	margin-top: 5px;
    margin-bottom: 5px;
}
.glyphicon.glyphicon-briefcase {
    font-size: 75px;
}
#userGestion{
    font-size: 75px;
}
#botonJum:hover{
	color: #337ab7;
}
#botonJum{
	background-color: #161e45;
color: #fff;
border-width: 0px;
}
#botonCrearC{
position: fixed;
left: 88%;
bottom: 5%
}
#panelHead{
background-color: #161e45;
}
#panelFooter{
background-color: #ededed;
}

#cajas{
	border: 2px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin-bottom: 3px;
}

#scroll{overflow-x:hidden;}