.jumbotron{
background-color: #5284d4;
color: #fff;
max-height:200px;
}
.page-header{
background-color: #5284d4;
color: #fff;
}
#panelHead{
background-color: #5284d4;
}
.btn-primary{
background-color: #5284d4;
}
body{
 background-image: url("fondo.jpg");
color: #fff;
}
#zonaFormulario{
color: #0d0d0d;
}
#panelF{
}
#cab1,#cab2{
display: inline-block;
}

li.errorLogin{
	color: red;
	font-weight: bold;
}
