.jumbotron{
background-color: #161e45;
color: #fff;
max-height:200px;
}
#cab1,#cab2{
display: inline-block;
}
#navSup{
background-color: #fff;
border-color: #fff;
}
#nameU{
width: 40%;
}
#tipoU{
width: 30%;
}
#tipoU3{
width: 35%;
background-color: #161e45;
color: #fff;
}
#tipoU2{
width: 35%;
background-color: #475dc4;
color: #fff;
}
#tipoU1{
width: 35%;
background-color: #8190d7;
color: #fff;
}
#accionesU{
width: 15%;
background-color: #ededed;
}
.list-group > li{
display: inline-block;
}
#deleteUser{
float: right;
border-color: #ededed;
background-color: #ededed;
padding: 0px 0px;
border-width: 0px;
}
#editUser{
border-color: #ededed;
background-color: #ededed;
padding: 0px 0px;
border-width: 0px;
}